html, body, #root {
  margin: 0;
  padding: 0;
  height: 100vh;
  color: #303133;
}
h1,h2,h3,h4,h5,h6 {
  margin: 0;
  color: #606266;
}
h1 {
  margin-bottom: 2rem;
}
p {
  margin: 1rem 0;
}
p:last-child {
  margin: 0;
}